<!DOCTYPE html>
<html lang="jp">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Mineshot</title>

        <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="./assets/css/index.css">
    </head>
    <body>
        <main>
            <h1>Mineshot <span style="font-size: 0.6em;">v 1.0</span></h1>
            <button id="start">監視開始</button>
            <button id="test">テスト</button>
        </main>
        <footer>
            <p>待機中</p>
        </footer>
        <script src="./assets/js/index.js"></script>
    </body>
</html>